.movie-details-container {
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
.movie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.back-button {
  position: absolute;
  left: 2rem;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
.movie-title {
  flex-grow: 1;
  font-size: 2rem;
  text-align: left;
  margin-left: 10px;
}
.movie-rating {
  font-size: 1.5rem;
  color: rgb(148, 126, 4);
}
.movie-main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.poster-and-player {
  display: flex;
  gap: 20px;
}
.poster-container {
  flex: 1;
  max-width: 300px;
}
.movie-poster {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.no-image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  width: 100%;
  height: 450px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  color: #888;
}
.video-player {
  flex: 2;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #f9f9f9;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Details and Actions Container */
.movie-details-and-actions {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Space between details and actions */
  margin-top: 20px;
}

/* Movie Details */
.movie-details {
  flex: 2; /* Takes up more space */
  font-size: 16px;
}

.movie-details p {
  margin: 10px 0;
}

/* Movie Actions */
.movie-actions {
  flex: 1; /* Takes up less space */
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between elements */
}

.group-select-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.group-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-to-group-button,
.favorite-button {
  padding: 10px 15px;
  background-color: #ff6f61;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.favorite-button {
  background-color: #ff6f61;
}

.add-to-group-button:hover,
.favorite-button:hover {
  background-color: #e46257;
}



.reviews-section {
  margin-top: 40px;
}
.reviews-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.review-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: calc(50% - 20px);
  box-sizing: border-box;
}
.review-header {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 5px;
}
.error-message {
  color: red;
  margin-top: 10px;
}
.review-item hr {
  border: none;
  border-top: 1px solid #eee;
  margin-top: 10px;
}