.search-page {
    display: flex;
    gap: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.search-container {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}
.search-filter {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.search-filter h2 {
    margin-bottom: 20px;
}
.filter {
    margin-bottom: 20px;
}
.filter label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}
.genres-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.genre-item {
    display: flex;
    align-items: center;
    width: calc(50% - 10px);
    margin-bottom: 5px;
}
.genre-item input {
    margin-right: 5px;
}
input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.slider-container {
    margin-top: 10px;
}
.range-track {
    height: 6px;
    background: #ddd;
    border-radius: 4px;
    position: relative;
    width: 100%;
    margin-top: 20px;

}
.range.thumb {
    height: 16px;
    width: 16px;
    background: #007bff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px #aaa;
    position: absolute;
    top: -0px;
}
.button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover{
    background-color: #e46257;
}
.search-results {
    flex: 1;
}
.movies-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}
.movie-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
.movie-card h4 {
    font-size: 16px;
    margin: 0;
    color: #333;
}
.aside {
    width: 150px;
}
