
aside {
    padding: 10px;
    background-color: lightgrey;
    width: 50%;
    box-sizing: border-box;
}

.genreList {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow wrapping to next line */
    gap: 10px; /* Add spacing between items */
    padding: 0;
    list-style: none;
}

.genre {
    display: flex;
    align-items: center; 
    gap: 5px; 
    background-color: #f4f4f4; 
    padding: 5px;
    border-radius: 5px; 
}

.search-button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 6px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
