.mb-4 {
    margin-bottom: 0!important;
}

.desktop-nav {
    background-color: lightgrey; /*Light grey background*/
    padding: 15px; /*Padding for the navbar*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: blue;
    margin-right: 20px; /*Add spacing from the links*/
}
.navbar {
    flex-grow: 1; /*Allows the navbar to take up the remaining space*/
}
 .navbar-links {
    list-style: none;/*Remove bullets*/
    display: flex;/*Align links horizontally*/
    margin: 0;
    padding: 0;
    width: 100%; /*Full width of navbar*/
    justify-content: space-around; /*Spread links evenly across the width of navbar*/
 }

 .nav-item {
    flex: 1; /*Each link takes equal space*/
    text-align: center; /*Center text within each item*/
 }

 .nav-link {
    text-decoration: none; /*Remove underline*/
    color: black; /*Text color*/
    font-size: 1rem;
    /*padding: 10px 15px; Vertical padding around links*/
    display: block; /*Allows the entire area to be clickable*/
    transition: background-color 0.3s ease; /*Smooth hover effect*/
 }

 .nav-link:hover {
    color: #333; /*Slightly darker color on hover*/
 }